*
  box-sizing: border-box
body
  font-family: "Gotham Pro Regular", sans-serif
  background-image: url('../img/bg.jpg')
  background-repeat: no-repeat
  background-size: 100%
.wraped
  width: 90%
  max-width: 1437px
  height: 100vh
  margin: 35px auto
  border-radius: 63px
  background-color: rgba(255, 255, 255, 0.839)
  box-shadow: -0.558px 7.981px 18px 0px rgba(0, 0, 0, 0.1)
  overflow: hidden
.container
  max-width: 1280px
  margin-left: auto
  margin-right: auto
a
  text-decoration: none
