.header
  margin-bottom: 100px
  &-block
    margin-left: 75px
    margin-bottom: 27px
    display: flex
    align-items: center
  &__logo
    margin-right: 80px
  &__phone
    margin-right: 60px
    &__item
      margin-right: 10px
      font-size: 22px
      line-height: 1.455
      color: #000000
      +bold
    &__text
      font-size: 14px
      color: #969696
  &__links
    margin-right: 24px
    display: flex
    justify-content: space-between
    width: 145px
    &__item
      font-size: 16px
      color: $diff-color
  &__search
    background: transparent
    width: 283px
    padding: 0
    border: none
    outline: none
    border-bottom: 1px solid rgb(208, 208, 208)
    color: rgb(196, 196, 196)
    font-size: 16px
    line-height: 2
    &::-webkit-input-placeholder
      color: #c4c4c4
    &::-moz-placeholder
      color: #c4c4c4
    &:-ms-input-placeholder
      color: #c4c4c4
    &::-ms-input-placeholder
      color: #c4c4c4
    &::placeholder
      color: #c4c4c4
  &__navigation
    margin-left: 75px
    margin-bottom: 33px
    &__list
      display: flex
      align-items: center
      justify-content: space-between
      max-width: 1005px
      margin: 0
      padding: 0
    &__item
      list-style: none
    &__link
      font-size: 14px
      color: rgb(0, 0, 0)
.navigation
  &-block
    display: flex
    align-items: center
    justify-content: space-between
  &__text
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 12px
    background-color: rgb(230, 230, 230)
    box-shadow: -0.558px 7.981px 18px 0px rgba(0, 0, 0, 0.1)
    width: 70%
    height: 76px
    padding: 0px 75px
    margin-right: 22px
    &__item
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      font-size: 16px
      color: rgb(0, 0, 0)
      padding: 0px 3px
      &:hover
        background: rgba(0, 0, 0, 0.15)
  &__button
    border-radius: 12px
    background-color: rgb(255, 255, 255)
    box-shadow: -0.558px 7.981px 18px 0px rgba(0, 0, 0, 0.1)
    width: 28%
    height: 76px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0px 87px
    &__item
      height: 100%
      padding: 0px 3px
      font-size: 16px
      border: none
      outline: none
      background-color: #ffffff
      color: $diff-color
      cursor: pointer
      &:hover
        background-color: #f3efef
